{% extends "layout.html" %}
{% block body %}
<h1>Upfeat test application</h1>
{% if login: %}
<div class="loggedin"><br/>Welcome<br/><br/><img class="oauthlogo" src="{{image}}"/> {{login}}</div>
<br/>
<a href="{{ url_for('logout') }}"><div class="oauthprovider">Log out</div></a>
{% else %}
Login with<br><br>
<a href="/login"><div class="oauthprovider"><img class="oauthlogo" src="{{url_for('static', filename='img/google.png')}}"/><span>Google</span></div></a>
{% endif %}
{% endblock %}

