<html>
  <head>
    <title>Upfeat test application</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stylesheet.css') }}"/>
  </head>
  <body>
    <div class="content">
      {% block body %}{% endblock %}
    </div>
  </body>
</html>
