body {
  background-color: rgb(0, 48, 89);
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.content {
  width: 272px;
  padding: 75px;
  background-color: rgb(243, 243, 243);
  font-size: 13px;
  font-weight: 400;
  text-align: center;
}

.oauthprovider {
  background-color: rgb(228, 228, 228);
  border: 1px solid rgb(204, 204, 204);
  border-radius: 2px;
  color: rgb(68, 68, 68);
  display: inline-block;
  font-size: 11px;
  height: 11px;
  width: 105px;
  padding: 9px;
  text-align: center;
  vertical-align: middle;
}

.oauthlogo {
  height: 15px;
  width: 15px;
  margin-right: 4px;
}

.loggedin {
  font-size: 15px;
}
